<template>
  <button
    class="btn btn-primary"
    v-if="isButtonVisible"
    @click="onLocationButtonClick"
  >
    <font-awesome-icon :icon="['fas', 'house-flag']" />
  </button>
</template>
<script lang="ts">
import { defineComponent, computed } from "vue";
import { useMapStore, usePlacesStore } from "@/composables";

export default defineComponent({
  name: `LocationButton`,
  setup() {
    const { userLocation, isUserLocationReady } = usePlacesStore();
    const { map, isMapReady } = useMapStore();
    return {
      isButtonVisible: computed(
        () => isUserLocationReady.value && isMapReady.value
      ),
      onLocationButtonClick: () => {
        if (isUserLocationReady) {
          map.value?.flyTo({ center: userLocation.value, zoom: 14 });
        }
      },
    };
  },
});
</script>
<style lang="css" scoped>
button {
  position: fixed;
  top: 30px;
  right: 30px;
}
</style>
