<template lang="">
  <ul>
    <li v-for="user in users" :key="user.id">
      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
      <h6>{{ user.email }}</h6>
    </li>
  </ul>
</template>
<script>
export default {
  name: "user-list",
  props: {
    users: {
      type: Array,
      required: true,
    },
  },
};
</script>
<style lang="css" scoped>
ul {
  list-style: none;
}
</style>
