<template lang="">
  <template v-if="entry">
    <div class="entry-title d-flex justify-content-between p-2">
      <div>
        <span class="text-success fs-3 fw-bold">{{ dayText }}</span>
        <span class="mx-1 fs-3">{{ monthText }}</span>
        <span class="mx-2 fs-4 fw-light">{{ yearDayText }}</span>
      </div>
      <div>
        <button class="btn btn-danger mx-2" @click="eraseEntry" v-if="entry.id">
          Borrar <font-awesome-icon :icon="['far', 'trash-can']" />
        </button>

        <input
          type="file"
          ref="imageSelector"
          @change="onSelectedImage"
          class="d-none"
          accept="image/png, image/jpeg"
        />

        <button class="btn btn-primary" @click="onSelectedImageClicked">
          Subir Foto <font-awesome-icon :icon="['fas', 'cloud-arrow-up']" />
        </button>
      </div>
    </div>
    <hr />
    <div class="d-flex flex-column px-3 h-75">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        v-model="entry.text"
        placeholder="O que aconteceu hoje?"
      ></textarea>
    </div>
    <Fab icon="sd-card" @on:click="saveEntry"></Fab>

    <img
      v-if="!localImage && !entry.picture"
      src="https://placehold.jp/150x150.png"
      alt="entry picture"
      class="img-thumbnail"
    />
    <img
      v-if="localImage"
      :src="localImage"
      alt="entry picture"
      class="img-thumbnail"
    />
    <img
      v-if="entry.picture && !localImage"
      :src="entry.picture"
      alt="entry picture"
      class="img-thumbnail"
    />
  </template>
</template>
<script>
import { defineAsyncComponent } from "vue";
import { mapGetters, mapActions } from "vuex";
import getDayMonthYear from "../helpers/getDayMonthYear";
import Swal from "sweetalert2";
import uploadImage from "../helpers/uploadImage";

export default {
  name: "EntryView",
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      entry: null,
      localImage: null,
    };
  },
  components: {
    Fab: defineAsyncComponent(() =>
      import("@/modules/daybook/components/Fab.vue")
    ),
  },
  methods: {
    ...mapActions("journal", ["updateEntry", "createEntry", "deleteEntry"]),

    loadEntry() {
      let entry;
      if (this.id === "new") {
        entry = {
          date: new Date().getTime(),
          text: "",
        };
      } else {
        entry = this.getEntryById(this.id);
        if (!entry) return this.$router.push({ name: "no-entry" });
      }
      this.entry = entry;
    },

    async saveEntry() {
      Swal.fire({
        title: "Guardando....",
        allowOutsideClick: false,
      });

      Swal.showLoading();

      const picture = await uploadImage(this.file);
      this.entry.picture = picture;

      if (this.entry.id) {
        await this.updateEntry(this.entry);
      } else {
        const newId = await this.createEntry(this.entry);
        this.$router.push({ name: "entry", params: { id: newId } });
      }

      this.file = null;
      this.localImage = null;

      Swal.fire({
        title: "Guardado!",
        icon: "success",
        file: null,
      });
    },
    async eraseEntry() {
      const { isConfirmed } = await Swal.fire({
        title: "¿Esta Seguro?",
        text: "Una vez borrado, no se puede revertir!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, borrar!",
        cancelButtonText: "Cancelar",
      });

      if (isConfirmed) {
        Swal.fire({
          title: "Borrando....",
          allowOutsideClick: false,
        });

        Swal.showLoading();

        await this.deleteEntry(this.entry.id);
        this.$router.push({ name: "no-entry" });

        Swal.fire({
          title: "Borrado!",
          icon: "success",
        });
      }
    },
    onSelectedImage(event) {
      const file = event.target.files[0];
      if (!file) {
        this.localImage = null;
        this.file = null;
        return;
      }

      this.file = file;
      const fr = new FileReader();
      fr.onload = (e) => (this.localImage = e.target.result);
      fr.readAsDataURL(file);
    },
    onSelectedImageClicked() {
      this.$refs.imageSelector.click();
    },
  },
  computed: {
    ...mapGetters("journal", ["getEntryById"]),
    dayText() {
      const { day } = getDayMonthYear(this.entry.date);
      return day;
    },
    monthText() {
      return getDayMonthYear(this.entry.date).month;
    },
    yearDayText() {
      return getDayMonthYear(this.entry.date).yearDay;
    },
  },

  created() {
    this.loadEntry();
  },
  watch: {
    id() {
      this.loadEntry();
    },
  },
};
</script>
<style lang="scss" scoped>
textarea {
  border: none;
  font-size: 20px;
  height: 100%;

  &:focus {
    outline: none;
  }
}

img {
  bottom: 150px;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  right: 20px;
  width: 200px;
}
</style>
