<template lang="">
  <div class="entry-list-container">
    <div class="px-2 pt-2">
      <input
        type="text"
        class="form-control"
        placeholder="Paramatro de Busqueda"
        v-model="term"
      />
    </div>

    <div class="my-2 d-flex flex-column">
      <button
        class="btn btn-primary mx-3"
        @click="$router.push({ name: 'entry', params: { id: 'new' } })"
      >
        <font-awesome-icon :icon="['fas', 'circle-plus']" />
        Nueva Entrada
      </button>
    </div>

    <div class="entry-scroll-area">
      <Entry
        v-for="entry in entriesByTerm"
        :key="entry.id"
        :entry="entry"
      ></Entry>
    </div>
  </div>
</template>
<script>
import { defineAsyncComponent } from "vue";
import { mapGetters } from "vuex";
export default {
  name: "EntryList",
  components: {
    Entry: defineAsyncComponent(() => import("../components/Entry.vue")),
  },
  computed: {
    ...mapGetters("journal", ["getEntriesByTerm"]),
    entriesByTerm() {
      return this.getEntriesByTerm(this.term);
    },
  },
  data() {
    return {
      term: "",
    };
  },
};
</script>
<style lang="scss" scoped>
.entry-list-container {
  border-right: 1px solid #2c3350;
  height: calc(100vh - 56px);
}
.entry-scroll-area {
  height: calc(100vh - 110px);
  overflow: scroll;
}
</style>
