<template lang="">
  <div
    class="entry-container mb-3 pointer p-2"
    @click="$router.push({ name: 'entry', params: { id: entry.id } })"
  >
    <div class="entry-title d-flex">
      <span class="text-success fs-5 fw-bold">{{ dayText }}</span>
      <span class="mx-1 fs-5">{{ monthText }}</span>
      <span class="mx-2 fw-light">{{ yearDayText }}</span>
    </div>
    <div class="entry-description">
      {{ shortText }}
    </div>
  </div>
</template>
<script>
import getDayMonthYear from "../helpers/getDayMonthYear";
export default {
  name: "entry-item",
  props: {
    entry: {
      type: Object,
      required: true,
    },
  },
  computed: {
    shortText() {
      return this.entry.text.length > 100
        ? this.entry.text.substring(0, 100) + "..."
        : this.entry.text;
    },
    dayText() {
      const { day } = getDayMonthYear(this.entry.date);
      return day;
    },
    monthText() {
      return getDayMonthYear(this.entry.date).month;
    },
    yearDayText() {
      return getDayMonthYear(this.entry.date).yearDay;
    },
  },
};
</script>
<style lang="scss" scoped>
.entry-container {
  border-bottom: 1px solid #2c3e50;
  transition: 0.2s all ease-in;

  &:hover {
    background-color: lighten($color: grey, $amount: 45);
    transition: 0.2s all ease-in;
  }
}
.entry-title {
}
.entry-description {
  font-size: 12px;
}
</style>
