<template lang="">
  <button class="btn btn-primary" @click="$emit('on:click')">
    <font-awesome-icon class="fa-2x" :icon="icon" />
  </button>
</template>
<script>
export default {
  name: "FloatingActionButton",
  props: {
    icon: {
      type: String,
      default: "fa-plus",
    },
  },
};
</script>
<style lang="scss" scoped>
button {
  border-radius: 100%;
  bottom: 20px;
  height: 65px;
  position: fixed;
  right: 20px;
  width: 65px;
}
</style>
