<template lang="">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white">
        <img
          src="@/assets/logo.png"
          alt="vue logo"
          class="d-inline-block align-text-top mx-2"
          width="35"
          height="35"
        />
        Daybook {{ username }}
      </a>
      <div class="d-flex">
        <button class="btn btn-outline-info mx-2" @click="makelogoutUser">
          <font-awesome-icon icon="fa-solid fa-door-open" /> Logout
        </button>
      </div>
    </div>
  </nav>
</template>
<script>
import useAuth from "@/modules/auth/composables/useAuth";
import { useRouter } from "vue-router";

export default {
  name: "DaybookNavbar",
  setup() {
    const { username, logoutUser } = useAuth();
    const router = useRouter();
    return {
      username,
      makelogoutUser: () => {
        logoutUser();
        router.push({ name: "login" });
      },
    };
  },
};
</script>
<style lang=""></style>
