<template lang="">
  <div class="alert alert-primary" v-if="isLoadingPlaces">
    <h6 class="fw-bold">Cargando</h6>
    <p>Espere por Favor...</p>
  </div>
  <ul class="list-group mt-3" v-else-if="places.length > 0">
    <li
      v-for="place in places"
      :key="place.id"
      class="list-group-item list-group-item-action"
      :class="{ active: place.id === activePlace }"
      @click="onPlaceClick(place)"
    >
      <h6 class="fw-bold">{{ place.text }}</h6>
      <p>{{ place.place_name }}</p>
      <div align="right">
        <button
          class="btn btn-sm"
          :class="
            place.id === activePlace
              ? 'btn-outline-light'
              : 'btn-outline-primary'
          "
          @click.self="onPlaceDetailsClick(place)"
        >
          Direcciones
        </button>
      </div>
    </li>
  </ul>
</template>
<script lang="ts" src="./SearchResult.ts" />
<style lang="css" scoped>
li {
  cursor: pointer;
}
h6 {
  font-size: 13px;
}

p {
  font-size: 10px;
  margin-bottom: 5px;
}
</style>
