<template>
  <div class="dbz-layout">
    <h1>DBZ Layout</h1>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: "DragonBallLayout",
};
</script>
<style scoped>
.dbz-layout {
  background-color: coral;
}
</style>
