<template>
  <DaybookNavbar></DaybookNavbar>
  <div class="row justify-content-md-center" v-if="isLoading">
    <div class="col-3 alert-info text-center mt-5">
      Espere por Favor
      <h3 class="mt-2">
        <font-awesome-icon :icon="['fas', 'spinner']" spin />
      </h3>
    </div>
  </div>
  <div class="container" v-else>
    <div class="d-flex">
      <div class="col-4"><entry-list /></div>
      <div class="col"><router-view></router-view></div>
    </div>
  </div>
</template>
<script>
import { defineAsyncComponent } from "vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "DaybookLayout",

  components: {
    DaybookNavbar: defineAsyncComponent(() =>
      import("../components/Navbar.vue")
    ),
    EntryList: defineAsyncComponent(() =>
      import("../components/EntryList.vue")
    ),
  },
  methods: {
    ...mapActions("journal", ["loadEntries"]),
  },
  computed: {
    ...mapState("journal", ["isLoading"]),
  },
  created() {
    this.loadEntries();
  },
};
</script>
<style lang=""></style>
