<template>
  <div class="about">
    <h1>{{ title }}</h1>
    <button @click="changeTitle">Cambiar titulo</button>
  </div>
</template>
<script>
import {
  ref,
  onMounted,
  onUpdated,
  onUnmounted,
  onBeforeMount,
  onBeforeUpdate,
  onBeforeUnmount,
  onErrorCaptured,
  onRenderTracked,
  onRenderTriggered,
  onActivated,
  onDeactivated,
} from "vue";
export default {
  setup() {
    const title = ref("About");
    onMounted(() => {
      console.log("triggered onMounted");
    });
    onUpdated(() => {
      console.log("triggered onUpdated");
    });
    onUnmounted(() => {
      console.log("triggered onUnmounted");
    });
    onBeforeMount(() => {
      console.log("triggered onBeforeMount");
    });
    onBeforeUpdate(() => {
      console.log("triggered onBeforeUpdate");
    });
    onBeforeUnmount(() => {
      console.log("triggered onBeforeUnmount");
    });
    onErrorCaptured(() => {
      console.log("triggered onErrorCaptured");
    });
    onRenderTracked(() => {
      console.log("triggered onRenderTracked");
    });
    onRenderTriggered(() => {
      console.log("triggered onRenderTriggered");
    });
    onActivated(() => {
      console.log("triggered onActivated");
    });
    onDeactivated(() => {
      console.log("triggered onDeactivated");
    });

    return {
      title,
      changeTitle: () => {
        title.value = "Otro Titulo";
      },
    };
  },
};
</script>

<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
</style>
