<template lang="">
  <h1>Counter View</h1>
  <h2>{{ counter }}</h2>
  <button @click="increase">+1</button>
  <button @click="decrease">-1</button>
</template>
<script>
import { ref } from "vue";

export default {
  name: "Counter-Sin-Composable",
  setup() {
    const counter = ref(0);
    // const increase = () => {
    //   counter.value++;
    // };
    // const decrease = () => {
    //   counter.value--;
    // };
    return {
      counter,
      //metodos: los metodos pueden declararse intenamente en el setup o externamente, por lo que entiendo depende del gusto
      increase: () => counter.value++,
      decrease: () => counter.value--,
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 0px 5px;
  padding: 10px 0px;
  width: 100px;
}
</style>
