<template lang="">
  <h1>Aprendiendo Slots</h1>
  <button @click="openModal">Abrir Modal</button>

  <modal v-if="modalIsOpen" title="Hola mundo" @on:close="closeModal">
    <template v-slot:footer>
      <button @click="closeModal">Cerrar</button>
    </template>

    <template v-slot:body>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        voluptas minima deserunt similique autem odio ipsum. Consequatur,
        voluptas minima deserunt.
      </p>
    </template>

    <template v-slot:header>
      <h2>Titulo del Modal</h2>
    </template>
  </modal>
</template>
<script>
import Modal from "@/components/Modal.vue";
import { ref } from "vue";
export default {
  name: "slots",
  components: { Modal },
  setup() {
    const modalIsOpen = ref(false);
    return {
      modalIsOpen,
      //methods
      openModal: () => (modalIsOpen.value = true),
      closeModal: () => (modalIsOpen.value = false),
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 0px 5px;
  padding: 10px 0px;
  width: 100px;
}
</style>
