import { ref } from 'vue';
<template>
  <div class="home">
    <h1>reative vs ref</h1>
    <h3>{{ ironman }}</h3>
    <h3>{{ hulk }}</h3>
    <button @click="changeIronman">Change Ironman</button>
    <button @click="changeHulk">Change Hulk</button>
    <!--<h3>{{ ironmanIsAlive }}</h3>-->
    <h3>{{ hulkIsAlive }}</h3>
    <button @click="changeStatus">Change Status</button>
  </div>
</template>

<script>
import { reactive, ref } from "vue";

export default {
  name: "HomeView",
  setup() {
    const ironman = ref({ name: "Tony Start", age: 50 });
    const hulk = reactive({ name: "Bruce Banner", age: 42 });
    //const ironmanIsAlive = reactive(false); //las variables reactive solo son reactivas hacia los objetos, hacia valores primitivos falla
    const hulkIsAlive = ref(false);
    return {
      ironman,
      hulk,
      //ironmanIsAlive,
      hulkIsAlive,
      changeIronman: () => {
        ironman.value.name = "Tony M Start";
        ironman.value.age = 55;
      },
      changeHulk: () => {
        hulk.name = "Bruce J Banner";
        hulk.age = 45;
      },
      changeStatus: () => {
        hulkIsAlive.value = !hulkIsAlive.value;
        //ironmanIsAlive = !ironmanIsAlive;
      },
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
</style>
