<template lang="">
  <h1 v-if="isLoading">Buscando, por favor espere...</h1>
  <h1 v-else-if="errorMessage">{{ errorMessage }}</h1>
  <div v-else>
    <h1>Pokemon View</h1>
    <h2>{{ pokemon.name }}</h2>
    <img :src="pokemon.sprites.front_default" alt="" srcset="" />
  </div>

  <button @click="backToSearch">Regresar a la Busqueda</button>
</template>
<script>
import { useRouter, useRoute, onBeforeRouteLeave } from "vue-router";
import usePokemon from "@/composables/usePokemon";
import { watch } from "vue";

export default {
  name: "pokemon",
  setup() {
    const router = useRouter();
    const route = useRoute();
    const { isLoading, pokemon, errorMessage, searchPokemon } = usePokemon(
      route.params.id
    );

    watch(
      () => route.params.id,
      (value) => {
        searchPokemon(value);
      }
    );

    const backToSearch = () => {
      router.push({ name: "pokemon-search" });
    };
    onBeforeRouteLeave(() => {
      const confirmOut = window.confirm("Esta seguro que desea regresar?");
      if (!confirmOut) {
        return false;
      }
    });

    return {
      backToSearch,
      isLoading,
      pokemon,
      errorMessage,
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
</style>
