<template lang="">
  <h1>Buscar Pokemon:</h1>
  <form @submit.prevent="onSubmit">
    <input
      type="number"
      placeholder="Numero del Pokemon"
      v-model="pokemonId"
      ref="txtSearch"
    />
  </form>
  <br />
  <span>Presione Enter para buscar</span>
</template>
<script>
import { ref, onActivated } from "vue";
import { useRouter } from "vue-router";
export default {
  name: "search-pokemon",
  setup() {
    const router = useRouter();

    const pokemonId = ref(5);
    const txtSearch = ref();

    const onSubmit = () => {
      //console.log("pokemon a buscar:", pokemonId.value);
      router.push({ name: "pokemon", params: { id: pokemonId.value } });
    };

    onActivated(() => {
      //txtSearch.value.focus();//este hace que el txt tenga el foco
      txtSearch.value.select(); //este hace que el txt tenga el foco, y el contenido este seleccionado
    });
    return {
      pokemonId,
      txtSearch,
      onSubmit,
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
input {
  padding: 5px;
}
</style>
