<template lang="">
  <h1>To Do List</h1>
  <h4>
    Todas las tareas: {{ all.length }} | Tareas pendientes:
    {{ pending.length }} | Tareas completadas: {{ completed.length }}
  </h4>
  <hr />
  <button :class="{ active: currentTab === 'all' }" @click="currentTab = 'all'">
    Todos
  </button>
  <button
    :class="{ active: currentTab === 'pending' }"
    @click="currentTab = 'pending'"
  >
    Pendientes
  </button>
  <button
    :class="{ active: currentTab === 'completed' }"
    @click="currentTab = 'completed'"
  >
    Completados
  </button>
  <div>
    <ul>
      <li
        v-for="todo in getTodosbytab"
        :key="todo.id"
        :class="{ completed: todo.completed }"
        @dblclick="toggleTodo(todo.id)"
      >
        {{ todo.text }}
      </li>
    </ul>
  </div>
</template>
<script>
import { useStore } from "vuex";
import { computed, ref } from "vue";
export default {
  name: "todo",
  setup() {
    const store = useStore();
    const currentTab = ref("all");

    return {
      currentTab,

      //methods
      all: computed(() => store.getters["allTodos"]),
      completed: computed(() => store.getters["completedTodos"]),
      pending: computed(() => store.getters["pendingTodos"]),

      getTodosbytab: computed(() =>
        store.getters["getTodosByTab"](currentTab.value)
      ),

      toggleTodo: (id) => {
        store.commit("toggleTodo", id);
      },
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
div {
  display: flex;
  justify-content: center;
  text-align: center;
}
ul {
  width: 300px;
  text-align: left;
  list-style-type: none;
}
li {
  cursor: pointer;
}
.active {
  background-color: #2c3e50;
  color: whitesmoke;
  border-radius: 5px;
  border: dimgray solid 1px;
}
.completed {
  text-decoration: line-through;
}
</style>
