<template lang="">
  <h1>To Do List</h1>
  <h4>
    Todas las tareas: {{ all.length }} | Tareas pendientes:
    {{ pending.length }} | Tareas completadas: {{ completed.length }}
  </h4>
  <hr />
  <button :class="{ active: currentTab === 'all' }" @click="currentTab = 'all'">
    Todos
  </button>
  <button
    :class="{ active: currentTab === 'pending' }"
    @click="currentTab = 'pending'"
  >
    Pendientes
  </button>
  <button
    :class="{ active: currentTab === 'completed' }"
    @click="currentTab = 'completed'"
  >
    Completados
  </button>
  | <button @click="openModal">Agregar To do</button>

  <div>
    <ul>
      <li
        v-for="todo in getTodosbytab"
        :key="todo.id"
        :class="{ completed: todo.completed }"
        @dblclick="toggleTodo(todo.id)"
      >
        {{ todo.text }}
      </li>
    </ul>
  </div>

  <modal v-if="modalIsOpen" @on:close="closeModal">
    <template v-slot:header>
      <h2>Agregar Nuevo To Do</h2>
    </template>

    <template v-slot:body>
      <p>
        <label for="inputNewTodo">To do:</label>
        <input type="text" v-model="newTodo" placeholder="Nuevo To Do" />
      </p>
    </template>

    <template v-slot:footer>
      <button @click="saveNewTodo">Agregar</button>
      <button @click="closeModal">Cancelar</button>
    </template>
  </modal>
</template>

<script>
import userTodo from "@/composables/useTodo";
import { ref } from "vue";
import Modal from "@/components/Modal.vue";
export default {
  name: "todo",
  components: { Modal },
  setup() {
    const {
      currentTab,
      all,
      pending,
      completed,
      getTodosbytab,
      toggleTodo,
      addTodo,
    } = userTodo();

    const modalIsOpen = ref(false);
    const newTodo = ref("");

    return {
      all,
      completed,
      currentTab,
      getTodosbytab,
      pending,
      toggleTodo,

      modalIsOpen,
      newTodo,

      openModal: () => (modalIsOpen.value = true),
      closeModal: () => (modalIsOpen.value = false),

      saveNewTodo: () => {
        addTodo(newTodo.value);
        newTodo.value = "";
        modalIsOpen.value = false;
      },
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}

div {
  display: flex;
  justify-content: center;
  text-align: center;
}
ul {
  width: 300px;
  text-align: left;
  list-style-type: none;
}
li {
  cursor: pointer;
}
.active {
  background-color: #2c3e50;
  color: whitesmoke;
  border-radius: 5px;
  border: dimgray solid 1px;
}
.completed {
  text-decoration: line-through;
}
</style>
