<template lang="">
  <h2 v-if="isLoading">Espere por favor...</h2>
  <div v-else>
    <h2>Usuarios</h2>
    <div class="listUsers" v-if="users.length > 0">
      <user-list :users="users"></user-list>
    </div>
    <button @click="previusPage">Atras</button>
    <button @click="nextPage">Siguiente</button>
    <span>Pagina {{ currentPage }}</span>
  </div>
  <div v-if="errorMessage">
    <h5>{{ errorMessage }}</h5>
    <button @click="gotoInitPage">Volver al principio</button>
  </div>
</template>
<script>
import useUsers from "@/composables/useUsers";
import UserList from "@/components/UserList.vue";
export default {
  name: "users",
  components: { UserList },
  setup() {
    const {
      currentPage,
      errorMessage,
      gotoInitPage,
      isLoading,
      nextPage,
      previusPage,
      users,
    } = useUsers();
    return {
      currentPage,
      errorMessage,
      gotoInitPage,
      isLoading,
      nextPage,
      previusPage,
      users,
    };
  },
};
</script>
<style lang="css" scoped>
button {
  margin: 5px 5px;
  padding: 10px 5px;
  width: 120px;
}
h2 {
  text-align: center;
  width: 100%;
}
.listUsers {
  display: flex;
  justify-content: center;
}
ul {
  width: 250px;
}
</style>
