<template>
  <h1>Counter</h1>
  <h2>Direct Access: {{ $store.state.counter.count }}</h2>
  <h2>Compute: {{ countComputed }}</h2>

  <button @click="increment()">+1</button>
  <button @click="incrementBy(5)">+5</button>
  <button @click="incrementRandom()" :disabled="isLoading">Random</button>

  <h2>MapState: {{ count }}</h2>
  <h2>MapState (lastMutation prop): {{ lastMutation }}</h2>
  <h2>Direct MapGetters (squareCount): {{ squareCount }}</h2>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "CounterComponent",
  methods: {
    increment() {
      this.$store.commit("counter/increment");
    },
    incrementBy(val) {
      this.$store.commit("counter/incrementBy", val);
    },

    incrementRandom() {
      //DE ESTA FORMA CALCULO EL NUMERO RANDOM Y LlAMO A UNA MUTATION
      // const val = Math.floor(Math.random() * 100) + 1;
      // this.$store.commit("counter/incrementBy", val);

      //DE ESTA OTRA FORMA LLAMO A UNA ACTION, QUE A SU VEZ LLAMA A UN METODO HELPER ASINCRONO
      this.$store.dispatch("counter/incrementRandomInt");
    },

    //de esta forma cargo las acciones como metodos de mi componente
    //esto es igual
    ...mapActions("counter", ["incrementRandomInt"]),
    //que esto (asi puedo renombrar la action dentro de mi componente)
    // ...mapActions("counter", {
    //   randomInt: "incrementRandomInt",
    // }),
  },
  computed: {
    countComputed() {
      return this.$store.state.counter.count;
    },
    // ...mapState("counter", ["count", "lastMutation", "isLoading"]),
    ...mapState({
      count: (state) => state.counter.count,
      lastMutation: (state) => state.counter.lastMutation,
      isLoading: (state) => state.counter.isLoading,
    }),
    ...mapGetters("counter", ["squareCount"]),
  },
};
</script>
<style scoped></style>
