<template>
  <q-page>
    <div class="row q-mb-md">
      <div class="col bg-primary">1</div>
      <div class="col bg-secondary">2</div>
      <div class="col bg-accent">3</div>
    </div>
    <div class="row q-mb-md">
      <div class="col bg-primary">1</div>
      <div class="col col-6 bg-secondary">2</div>
      <div class="col col-4 bg-accent">3</div>
    </div>
    <div class="row q-mb-md justify-center">
      <div class="col col-4 bg-primary">1</div>
      <div class="col col-4 bg-secondary">2</div>
    </div>

    <div class="row q-mb-md justify-between">
      <div class="col col-4 bg-primary">1</div>
      <div class="col col-4 bg-secondary">2</div>
    </div>

    <q-separator spaced />
    <div class="row q-mb-md">
      <div class="col-12 col-sm-6 col-md-4 bg-primary">1Z</div>
      <div class="col-12 col-sm-6 col-md-4 bg-secondary">2Z</div>
    </div>

    <q-separator spaced />

    <div class="row q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div class="row justify-between q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div class="row justify-end q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div class="row justify-around q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div class="column items-center bg-dark q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div class="column items-end bg-dark q-mb-md">
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div
      class="column custom-height items-center justify-center bg-dark q-mb-md"
    >
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div
      class="column custom-height items-center justify-between bg-dark q-mb-md"
    >
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>
    <div
      class="column custom-height items-center justify-around bg-dark q-mb-md"
    >
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>

    <div
      class="column custom-height items-center justify-between bg-dark q-mb-md"
    >
      <div class="squared-box bg-primary">1Q</div>
      <div class="squared-box self-end bg-secondary">2Q</div>
      <div class="squared-box bg-accent">3Q</div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "FlexPage",
});
</script>
<style scoped>
.col,
.col-4,
.col-6,
.col-12 {
  height: 50px;
}

.squared-box {
  height: 50px;
  width: 50px;
}
.custom-height {
  height: 300px;
}
</style>
