<template>
  <q-page class="q-ma-md">
    <span class="text-h3">Forms Page</span>
    <q-separator spaced />
    <div class="row justify-center q-pa">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-sm">
          <q-input
            filled
            v-model="userForm.name"
            label="Your name *"
            hint="Name and surname"
            lazy-rules
            no-error-icon
            :rules="[
              (val) => (val && val.length > 0) || 'Please type your name',
            ]"
          />
          <q-input
            filled
            v-model="userForm.email"
            type="email"
            label="Your email *"
            hint="email address"
            lazy-rules
            no-error-icon
            :rules="[
              (val) => (val && val.length > 0) || 'Please type your email',
              (val) => validateEmail(val) || 'Please type a valid email ',
            ]"
          />

          <q-input
            filled
            type="password"
            v-model="userForm.password"
            label="Your password *"
            hint="Please type your password"
            lazy-rules
            no-error-icon
            :rules="[
              (val) => (val && val.length > 0) || 'Please type your password',
            ]"
          />
          <q-input
            filled
            type="password"
            v-model="userForm.passwordConfirm"
            label="Confirm password *"
            hint="Please confirm your password"
            lazy-rules
            no-error-icon
            :rules="[
              (val) =>
                (val && val.length > 0) || 'Please confirm your password',
              (val) => val === userForm.password || 'Passwords do not match',
            ]"
          />

          <q-toggle
            v-model="userForm.accept"
            label="I accept the license and terms"
            :style="userForm.errorOnTerms && !userForm.accept && 'color: red'"
          />

          <div class="row justify-end">
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
            />
            <q-btn label="Submit" type="submit" color="primary" />
          </div>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "FormsPage",
  setup() {
    const $q = useQuasar();
    const userForm = ref({
      name: "",
      email: "",
      password: "",
      passwordConfirm: "",
      accept: false,
      errorOnTerms: false,
    });

    const validateEmail = (email) => {
      const emailPattern =
        /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(email);
    };

    const onSubmit = () => {
      userForm.value.errorOnTerms = false;

      if (!userForm.value.accept) {
        $q.notify({
          message: "You must accept the license and terms",
          color: "accent",
          icon: "las la-exclamation-triangle",
          actions: [
            {
              label: "Dismiss",
              color: "white",
              handler: () => {
                /* ... */
              },
            },
          ],
        });
        console.log("You must accept the license and terms");
        userForm.value.errorOnTerms = true;
        return;
      }
      console.log(userForm.value);
    };

    const onReset = () => {
      userForm.value = {
        name: "",
        email: "",
        password: "",
        passwordConfirm: "",
        accept: false,
        errorOnTerms: false,
      };
    };

    return {
      userForm,
      onSubmit,
      onReset,
      validateEmail,
    };
  },
});
</script>
