<template>
  <q-page class="q-ma-md">
    <span class="text-h3">Index Page</span>
    <q-separator spaced />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
});
</script>
