<template>
  <q-page class="flex column">
    <span class="text-h1">Headline 1</span>
    <span class="text-h2">Headline 2</span>
    <span class="text-h3">Headline 3</span>
    <span class="text-h4">Headline 4</span>
    <span class="text-h5">Headline 5</span>
    <span class="text-h6">Headline 6</span>
    <q-separator />
    <span class="text-subtitle1">Subtitle 1</span>
    <span class="text-subtitle2">Subtitle 2</span>
    <q-separator />
    <span class="text-body1"
      >Ipsum magna ullamco dolore ut deserunt eu ea voluptate sunt laboris ad
      magna. Velit laborum elit aliquip laboris pariatur eiusmod eiusmod dolor.
      Culpa tempor qui amet magna ut ea reprehenderit do exercitation. Quis qui
      laboris sit dolor consectetur non laboris qui anim et.</span
    >
    <span class="text-body2"
      >Qui tempor esse veniam ipsum occaecat ex Lorem incididunt do velit.
      Officia commodo esse ea officia dolor culpa reprehenderit. Adipisicing
      irure ullamco tempor nisi Lorem consequat consectetur et non id labore id.
      Minim sunt cillum laboris cupidatat pariatur excepteur.</span
    >
    <q-separator />
    <span class="text-weight-thin"
      >Aute excepteur exercitation dolore dolor fugiat qui duis eu ipsum eiusmod
      mollit cupidatat.</span
    >
    <span class="text-weight-light"
      >Eiusmod quis et tempor qui anim minim esse commodo reprehenderit officia
      duis eiusmod eiusmod.</span
    >
    <span class="text-weight-regular"
      >Elit irure duis in pariatur minim laboris deserunt.</span
    >
    <span class="text-weight-medium">Nulla adipisicing anim occaecat ad.</span>
    <span class="text-weight-bold"
      >Exercitation laborum exercitation do laborum Lorem.</span
    >
    <span class="text-weight-bolder"
      >Anim adipisicing voluptate irure eu ut irure ad commodo consequat.</span
    >
    <q-separator />
    <q-btn
      :label="
        currentSideMenuState ? 'Cerrar Menu lateral' : 'Abrir menu Lateral'
      "
      color="primary"
      class="q-mt-md"
      @click="openLeftDrawer"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import useUI from "../composables/useUI";

export default defineComponent({
  name: "TypographyPage",
  setup() {
    const { currentSideMenuState, toggleSideMenu } = useUI();
    return {
      currentSideMenuState,
      openLeftDrawer() {
        toggleSideMenu();
      },
    };
  },
});
</script>
