<template>
  <div
    v-if="!isUserLocationReady"
    class="loading-map d-flex justify-content-center align-items-center"
  >
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text-white">Loading Map...</div>
    </div>
  </div>
  <div
    v-show="isUserLocationReady"
    class="map-container"
    ref="mapContainer"
  ></div>
</template>
<script lang="ts" src="./MapView.ts" />
<style lang="css" scoped>
.loading-map {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

.map-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
</style>
