<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <img alt="Vue logo" src="../assets/logo.png" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button @click="gotoDaybbok" class="btn btn-primary me-1">
          Primario
        </button>
        <button class="btn btn-secondary me-1">Secundario</button>
        <button class="btn btn-success me-1">Exito</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  components: {},
  methods: {
    gotoDaybbok() {
      this.$router.push({ name: "no-entry" });
    },
  },
};
</script>
