<template>
  <div class="row p-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
      <counter title="Mi Contador" :counterStart="8"></counter>
    </div>
    <indecision class="shadow p-3 mb-5 bg-body rounded"></indecision>
  </div>
</template>

<script>
import Counter from "./components/Counter.vue";
import Indecision from "./components/Indecision.vue";

export default {
  name: "App",
  components: { Counter, Indecision },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
