<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="las la-bars"
          aria-label="bars"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title> Quasar App </q-toolbar-title>

        <!-- TODO: <div>Quasar v{{ $q.version }}</div>-->
      </q-toolbar>
    </q-header>

    <q-drawer v-model="currentSideMenuState" show-if-above bordered>
      <q-list>
        <q-item>
          <q-item-section avatar @click="toggleLeftDrawer">
            <q-icon name="las la-angle-double-left" />
          </q-item-section>

          <q-item-section>
            <q-item-label>My Essential Links</q-item-label>
          </q-item-section>
        </q-item>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          @click="toggleLeftDrawer"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { linksList } from "../router/link-list";
import useUI from "../composables/useUI";

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const { toggleSideMenu, currentSideMenuState } = useUI();

    return {
      essentialLinks: linksList,

      currentSideMenuState,
      toggleLeftDrawer() {
        toggleSideMenu();
      },
    };
  },
});
</script>
