<template>
  <div class="trip-container column" v-if="distance">
    <div class="col">
      Distancia: <strong>{{ distance }} kms</strong>
    </div>
    <div class="col">
      Duracion: <strong>{{ duration }} minutos</strong>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { useMapStore } from "@/composables";
export default defineComponent({
  name: `TripDetails`,
  setup() {
    const { distance, duration } = useMapStore();
    return {
      distance,
      duration,
    };
  },
});
</script>
<style lang="css" scoped>
.trip-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  bottom: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  left: 20px;
  padding: 10px;
  position: fixed;
  width: 175px;
}
strong {
  color: #333;
}
</style>
