<template>
  <h1 v-if="!pokemon">Espere por favor...</h1>
  <div v-else>
    <h1>Quien es este pokemon?</h1>
    <pokemon-picture
      :pokemonId="pokemon.id"
      :showPokemon="showPokemon"
    ></pokemon-picture>
    <pokemon-options
      v-if="answered === false"
      :pokemons="pokemonArr"
      @selection="checkAnswer($event)"
    ></pokemon-options>

    <template v-if="answered" class="fade-in">
      <h2>{{ message }}</h2>
      <button @click="newGame()">Jugar Nuevamente</button>
    </template>
  </div>
</template>

<script>
import PokemonPicture from "@/components/PokemonPicture.vue";
import PokemonOptions from "@/components/PokemonOptions.vue";
import getPokemonOptions from "@/helpers/pokemonOptions";

export default {
  name: "PokemonPage",
  components: { PokemonPicture, PokemonOptions },
  data() {
    return {
      pokemonArr: [],
      pokemon: null,
      showPokemon: false,
      answered: false,
      message: "",
    };
  },
  methods: {
    async mixPokemonArray() {
      this.pokemonArr = await getPokemonOptions();
      const ramdonInt = Math.floor(Math.random() * 4);
      this.pokemon = this.pokemonArr[ramdonInt];
    },
    checkAnswer(selectedId) {
      this.answered = true;
      this.showPokemon = true;
      if (this.pokemon.id === selectedId) {
        this.message = `Acertaste, ${this.pokemon.name}`;
      } else {
        this.message = `D'oh! Fallaste, era ${this.pokemon.name}`;
      }
    },
    newGame() {
      this.answered = false;
      this.showPokemon = false;
      this.pokemon = null;
      this.pokemonArr = [];
      this.mixPokemonArray();
    },
  },
  mounted() {
    this.mixPokemonArray();
  },
};
</script>

<style></style>
