<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola Mundo Vue</title>
  </head>
  <body>
    <div id="myApp">
      {#
      <h1>Hola Mundo</h1>
      <p>{{ 'Alejandro' + ' Rodriguez' }}</p>
      #}
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
