<template>
  <div class="row">
    <div class="col-12">
      <MapView />
      <LocationButton />
      <SearchBar />
      <TripDetails />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { usePlacesStore } from "@/composables";
import MapView from "@/components/mapview/MapView.vue";
import LocationButton from "@/components/locationbutton/LocationButton.vue";
import SearchBar from "@/components/searchbar/SearchBar.vue";
import TripDetails from "@/components/tripdetails/TripDetails.vue";

export default defineComponent({
  name: "HomeView",
  components: {
    MapView,
    LocationButton,
    SearchBar,
    TripDetails,
  },
  setup() {
    usePlacesStore();
  },
});
</script>
