<template lang="">
  <span class="login100-form-title p-b-41"> Ingresar </span>
  <form
    @submit.prevent="onSubmit"
    class="login100-form validate-form p-b-33 p-t-5"
  >
    <div class="wrap-input100 validate-input" data-validate="Enter username">
      <input
        class="input100"
        type="email"
        placeholder="Correo"
        v-model="userForm.email"
        required
      />
      <span class="focus-input100" data-placeholder="&#xe82a;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
      <input
        class="input100"
        type="password"
        placeholder="Contraseña"
        v-model="userForm.password"
        required
      />
      <span class="focus-input100" data-placeholder="&#xe80f;"></span>
    </div>

    <div class="container-login100-form-btn m-t-32">
      <button type="submit" class="login100-form-btn">Accesar</button>
    </div>

    <div class="container-login100-form-btn m-t-32">
      <router-link :to="{ name: 'register' }">¿No tienes cuenta?</router-link>
    </div>
  </form>
</template>
<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
import useAuth from "../composables/useAuth";
import Swal from "sweetalert2";

export default {
  name: "LoginView",
  setup() {
    const { signInUser } = useAuth();
    const router = useRouter();

    const userForm = ref({
      email: "",
      password: "",
    });

    const checkAuthState = () => {
      const idToken = localStorage.getItem("idToken");
      if (idToken) {
        router.push({ name: "no-entry" });
      }
    };
    checkAuthState();
    return {
      userForm,
      // metodos
      onSubmit: async () => {
        const { ok, message } = await signInUser(userForm.value);
        if (!ok) {
          Swal.fire({
            position: "top-end",
            icon: "error",
            title: message,
            showConfirmButton: false,
            timer: 1500,
          });
        } else {
          router.push({ name: "no-entry" });
        }
      },
    };
  },
};
</script>
<style lang=""></style>
