<template lang="">
  <span class="login100-form-title p-b-41"> Registro </span>
  <form
    @submit.prevent="onSubmit"
    class="login100-form validate-form p-b-33 p-t-5"
  >
    <div class="wrap-input100 validate-input" data-validate="Ingrese su Nombre">
      <input
        class="input100"
        type="text"
        placeholder="Nombre Completo"
        v-model="userForm.name"
        required
      />
      <span class="focus-input100" data-placeholder="&#xe82a;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Ingrese su Correo">
      <input
        class="input100"
        type="email"
        placeholder="Correo"
        v-model="userForm.email"
        required
      />
      <span class="focus-input100" data-placeholder="&#xe818;"></span>
    </div>

    <div
      class="wrap-input100 validate-input"
      data-validate="Ingrese su Contraseña"
    >
      <input
        class="input100"
        type="password"
        placeholder="Contraseña"
        v-model="userForm.password"
        required
      />
      <span class="focus-input100" data-placeholder="&#xe80f;"></span>
    </div>

    <div class="container-login100-form-btn m-t-32">
      <button type="submit" class="login100-form-btn">Registrar</button>
    </div>

    <div class="container-login100-form-btn m-t-32">
      <router-link :to="{ name: 'login' }"
        >Volver a iniciar de Sesion
      </router-link>
    </div>
  </form>
</template>
<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
import useAuth from "../composables/useAuth";
import Swal from "sweetalert2";

export default {
  name: "RegisterView",
  setup() {
    const { createUser } = useAuth();
    const router = useRouter();
    const userForm = ref({
      email: "",
      password: "",
      name: "",
    });
    return {
      userForm,
      createUser,
      onSubmit: async () => {
        const { ok, message } = await createUser(userForm.value);
        if (!ok) {
          Swal.fire({
            position: "top-end",
            icon: "error",
            title: message,
            showConfirmButton: false,
            timer: 1500,
          });
        } else {
          router.push({ name: "no-entry" });
        }
      },
    };
  },
};
</script>
<style lang=""></style>
