<template>
  <h1>About</h1>
  <h2>{{ name }}</h2>
  <button @click="onChangeName">Cambiar Nombre</button>
</template>

<script>
export default {
  name: "AboutPage",
  data() {
    return {
      name: "Alejandro",
    };
  },
  methods: {
    onChangeName() {
      console.log("Se cambiara el nombre");
      this.name = "Yennifer";
    },
  },
  beforeCreate() {
    console.log("beforeCreate");
  },
  created() {
    console.log("created");
  },
  beforeMount() {
    console.log("beforeMount");
  },
  mounted() {
    console.log("mounted");
  },
  beforeUpdate() {
    console.log("beforeUpdate");
  },
  updated() {
    console.log("updated");
  },
  activated() {
    console.log("activated");
  },
  deactivated() {
    console.log("deactivated");
  },
  beforeUnmount() {
    console.log("beforeUnmount");
  },
  unmounted() {
    console.log("unmounted");
  },
  errorCaptured() {
    console.log("errorCaptured");
  },
  renderTracked() {
    console.log("renderTracked");
  },
  renderTriggered() {
    console.log("renderTriggered");
  },
};
</script>
