<template>
  <h1>Pokemon # {{ id }}</h1>
  <div v-if="pokemon">
    <img :src="pokemon.sprites.front_default" :alt="pokemon.name" srcset="" />
  </div>
</template>

<script>
export default {
  name: "PokemonPage",
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      // id: this.$route.params.id,
      pokemon: null,
    };
  },
  methods: {
    async getPokemon() {
      try {
        const pokemon = await fetch(
          `https://pokeapi.co/api/v2/pokemon/${this.id}`
        ).then((r) => r.json());
        this.pokemon = pokemon;
        console.log(this.pokemon);
      } catch (error) {
        this.$router.push({ name: "404" });
        console.log("Nada que hacer");
      }
    },
  },
  created() {
    this.getPokemon();
  },
  watch: {
    id() {
      this.getPokemon();
    },
  },
};
</script>
