<template lang="">
  <a
    v-if="isExternalLink"
    target="_blank"
    :href="link.to"
    class="normal-link"
    >{{ link.name }}</a
  >

  <router-link v-else :to="route" v-slot="{ href, isActive }">
    <a :href="href" :class="isActive ? 'is-active' : 'normal-link'">{{
      link.name
    }}</a>
  </router-link>

  <!--
    forma original como lo hice yo, mi compilador fue lo suficientemente inteligente para obviar
    las rutas que no llevan parametros y omitir esa parte. sin embargo en el curso lo hacen con la propiedad computada
    por que el compilador chilla si no hay una ruta con parametros en los child de otros conjunto de rutas:
    :to="{ name: link.to, params: { id: link.param } }"-->

  <!-- <router-link :to="{ name: 'pokemon-id', params: { id: 85 } }">Single</router-link> -->
</template>
<script>
export default {
  name: "CustomLink",
  props: {
    link: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isExternalLink() {
      return this.link.to.startsWith("http");
    },
    route() {
      return this.link.param === undefined
        ? { name: this.link.to }
        : { name: this.link.to, params: { id: this.link.param } };
    },
  },
};
</script>
<style scoped>
.is-active {
  color: #42b983;
}
.normal-link {
  color: #bbc7c2;
}
</style>
