<template lang="">
  <div>
    <!--<router-link :to="{ name: 'home' }">Home</router-link>
    <router-link :to="{ name: 'pokemon-id', params: { id: 85 } }">Single</router-link>
    <router-link :to="{ name: 'about' }">About</router-link> -->
    <CustomLink v-for="link in links" :key="link.to" :link="link" />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  name: "NavBar",
  data() {
    return {
      links: [
        { to: "pokemon-home", name: "Home" },
        { to: "pokemon-id", name: "Single", param: 85 },
        { to: "pokemon-about", name: "About" },
        { to: "dbz-characters", name: "Personajes DBZ" },
        { to: "dbz-about", name: "About DBZ" },
        { to: "https://google.com", name: "Google" },
      ],
    };
  },
  components: {
    CustomLink: defineAsyncComponent(() => import("./CustomLink.vue")),
  },
};
</script>
<style scoped>
div {
  padding: 0 30px;
}
div a {
  font-weight: bold;
  color: #2c3e50;
  margin-left: 10px;
  margin-right: 10px;
}

/* div .router-link-exact-active {
  color: #42b983;
} */
</style>
