<template>
  <h2>{{ getTitle }}</h2>
  <p>{{ counter }} <sup>2</sup> = {{ squareCounter }}</p>
  <p>{{ counter }}</p>
  <div>
    <button class="btn btn-primary mx-1" v-on:click="increase">
      <i class="bi bi-plus-circle"></i> Incrementar
    </button>
    <button class="btn btn-warning mx-1" @click="decrease">
      <i class="bi bi-dash-circle"></i> Decrementar
    </button>
  </div>
</template>

<script>
export default {
  name: "Counter",
  props: {
    title: String,
    counterStart: {
      type: Number,
      required: true,
      default: 5,
      validator(value) {
        return value >= 5;
      },
    },
  },
  data() {
    return {
      counter: this.counterStart,
    };
  },
  methods: {
    getSquare() {
      return this.counter * this.counter;
    },
    increase() {
      this.counter++;
    },
    decrease() {
      this.counter--;
    },
  },
  computed: {
    squareCounter() {
      return this.counter * this.counter;
    },
    getTitle() {
      return this.title ? this.title : "Counter";
    },
  },
};
</script>

<style>
/* button {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #64b687;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #5aa67b;
  transition: 0.3s ease-in-out;
} */
</style>
