<template>
  <div class="row">
    <div class="col">
      <img :src="image" alt="bg" />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Hazme una pregunta"
        v-model="question"
      />
      <p>Recuerda terminar con un signo de interrogacion (?)</p>
      <div v-if="validQuestion">
        <h2>{{ question }}</h2>
        <h1>{{ answer }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Indecision",
  data() {
    return {
      question: "",
      answer: null,
      image: "https://via.placeholder.com/250",
      validQuestion: false,
    };
  },
  methods: {
    async getAnswer() {
      try {
        this.answer = "Si, No.... Pensado";
        const { answer, image } = await fetch("https://yesno.wtf/api").then(
          (r) => r.json()
        );
        this.answer = answer === "yes" ? "Si!" : "No!";
        this.image = image;
        this.validQuestion = true;
      } catch (error) {
        this.answer = "No se pudo cargar el API";
        this.image = "https://via.placeholder.com/250";
      }
    },
  },
  watch: {
    question(value, oldvalue) {
      console.log(value);
      if (value.includes("?")) {
        this.getAnswer();
      } else {
        this.validQuestion = false;

        // this.answer = null;
        this.image = "https://via.placeholder.com/250";
      }
    },
  },
};
</script>

<style></style>
