<template>
  <div class="searchbar-container" v-if="isSearchBarVisible">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar lugares..."
      v-model="debouncedSearchQuery"
    />

    <SearchResult />
  </div>
</template>
<script lang="ts" src="./SearchBar.ts" />
<style lang="css" scoped>
.searchbar-container {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 300px;
  z-index: 9999;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px !important;
  overflow: hidden;
  padding: 5px;
  background-color: white;
}
</style>
